@import '../../SCSS/variables';
.container {
    color: white;
    font-size: 1.3rem;
    p {
        font-size: 1.3rem;
    }
    .boxDay{
        
        background-color: $bgInfo;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;

    }
    .days {
        background-color: $bgInfo;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        border-radius: 10px;
    }
}

@media (max-width: 600px) {
    .days {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
}